# Python
__pycache__/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
scripts/not_working/
*.ipynb_checkpoints/ 

# Ignore

.gitignore
old_tools/
.empty/
venv/

output.txt
cat_with_pages.sh
.gitignore
excel_output/
old code/
build
dist
dump.rdb
examples/
logs
src/fichero/resources/create_icons.sh
old code/
toga-examples/

cpu_worker.log
io_worker.log

/old documents
/.venv
/.pytest_cache
/.cursor

/.claude
CLAUDE.md
/.claude
.aider*
opencode.json
Fichero/Fichero.xcodeproj/project.xcworkspace/xcuserdata/dtubb.xcuserdatad/UserInterfaceState.xcuserstate
.pytest_cache
.vscode
.briefcase 