---
layout: base.njk
---
<section class="section content-list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        {{ content | safe }}
      </div>
    </div>
  </div>
</section>
