<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>app.fichero.fichero.library</string>
    <key>CFBundleName</key>
    <string>Untitled-76A9529E-8FC6-4422-9EC5-2903885396A7</string>
</dict>
</plist>